<div id="login">
  <fieldset>
    <form method="post">
      <label>Username</label>
      <input class="input" type="text" name="username" placeholder="Username">
      <label>Password</label>
      <input class="input" type="password" name="password" placeholder="Password">
      <label>
        <input type="checkbox" name="option1" value="1">
        Keep me signed in
      </label>
      <button type="submit" class="button">Login</button>
      <a href="{{ url_for('forgotpass') }}">Forgot Password?</a>
      <a href="{{ url_for('signup') }}" class="button is-primary">Sign up</a>
    </form>
  </fieldset>
</div>
