<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <script>
      function validateForm() {
        var newPassword = document.forms["resetPasswordForm"]["newPassword"].value;
        var confirmPassword = document.forms["resetPasswordForm"]["confirmPassword"].value;
        var errorDiv = document.getElementById("errorDiv");
        
        if (newPassword != confirmPassword) {
          errorDiv.innerHTML = "Passwords do not match. Please try again.";
          return false;
        } else {
          errorDiv.innerHTML = "";
          return true;
        }
      }
      
      function hideErrorMessage() {
        var errorDiv = document.getElementById("errorDiv");
        errorDiv.innerHTML = "";
      }

      function togglePassword() {
  var newPasswordInput = document.getElementById("newPassword");
  var confirmPasswordInput = document.getElementById("confirmPassword");
  var showPasswordCheckbox = document.getElementById("showpassword");

  if (showPasswordCheckbox.checked) {
    newPasswordInput.type = "text";
    confirmPasswordInput.type = "text";
  } else {
    newPasswordInput.type = "password";
    confirmPasswordInput.type = "password";
  }
}

    </script>

  </head>
  <body>
    <h1>Reset Password</h1>
    <form name="resetPasswordForm" onsubmit="return validateForm()" action="/reset_password" method="post">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br><br>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" oninput="hideErrorMessage()"><br><br>
      
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" oninput="hideErrorMessage()"><br><br>
      <input type="checkbox" id="showpassword" name="showpassword" onchange="togglePassword()">Show Password
      <div id="errorDiv" style="color: red;"></div>
      
      <button type="submit">Reset Password</button>
    </form>
  </body>
</html>
