{% extends 'base2.html' %}

{% block content %}
<div class="reset">
    <form action="{{ url_for('login') }}">
        <button class="backbtn" >&larr;</button>
    </form>
    <h1>Reset Password</h1>
    <form name="resetPasswordForm" onsubmit="return validateForm()" action="/reset_password" method="post">

        <input class="input" type="email" id="email" placeholder="Email" name="email" required><br><br>

        <input class="input" type="password" id="newPassword" placeholder="New Password" name="newPassword" oninput="hideErrorMessage()"><br><br>
      
        <input class="input" type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" oninput="hideErrorMessage()"><br><br>
        <span>
            <input type="checkbox" id="showpassword" name="showpassword" onchange="togglePassword3()">Show Password
        </span>
        <div id="errorDiv" style="color: red;"></div>
      
        <button type="submit" class="button">Reset Password</button>
    </form>
</div>
{% endblock %}
        <!--
            <label for="email">Email:</label>
            <label for="newPassword">New Password:</label>
            <label for="confirmPassword">Confirm Password:</label>
        -->
