<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">

<style>
.show-password,
.show-password2 {
  display: none;
}

</style>
<fieldset>
    <form method="post" action="{{ url_for('signup') }}">
        <label for="name">Name</label>
        <input class="input" id="name" type="text" name="name" placeholder="Juan A. Dela Cruz " required>
        <br><br>

        <label for="platenumber">Plate Number</label>
        <input class="input" id="platenumber" type="text" name="platenumber" placeholder="PKT6785" pattern="[A-Z]{3}\d{4}" title="The letters must be in capital."required >
        <br><br>

        <label for="email">Email Address</label>
        <input class="input" id="email"  type="email" name="email" placeholder="Email" required>
        <br><br>

        <label for="phone">Phone Number</label>
        <input class="input" id="phone" type="tel" name="phone" placeholder="09*********" pattern="09[0-9]{9}" title="Phone number must 11 numbers long and start with 09"required>
        <br><br>

        <label for="password">Password</label>
        <input class="input" id="password" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.*\s).{8,}" title="Must contain at least one number, one uppercase letter, one lowercase letter, one special character, and be at least 8 or more characters long." required>
        <span class="show-password"><i class="fas fa-eye"></i></span>
        <br><br>

        <label for="conpassword">Confirm Password</label>
        <input class="input" id="conpassword" type="password" name="conpassword" placeholder="Confirm password" required>
        <span class="show-password2"><i class="fas fa-eye"></i></span>
        <br><br>
        <div class="error-message" style="display:none;"></div>

        <br><br>
        <button type="submit" class="button is-success">Sign up</button>
       
    </form>
</fieldset>
<script>
    $(document).ready(function() {
      $('#password').on('input', function() {
        var input = $(this);
        var icon = input.next('.show-password');
        if (input.val().length > 0) {
          icon.css('display', 'inline-block');
        } else {
          icon.css('display', 'none');
        }
      });
    });
    
    $(document).ready(function() {
      $('.show-password').click(function() {
        var passwordInput = $(this).prev('input');
        var icon = $(this).find('i');
        if (passwordInput.attr('type') == 'password') {
          passwordInput.attr('type', 'text');
          icon.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
          passwordInput.attr('type', 'password');
          icon.removeClass('fa-eye-slash').addClass('fa-eye');
        }
      });
    });
    
    $(document).ready(function() {
  $('#conpassword').on('input', function() {
    var input = $(this);
    var icon = input.next('.show-password2');
    if (input.val().length > 0) {
      icon.css('display', 'inline-block');
    } else {
      icon.css('display', 'none');
    }
  });
});

$(document).ready(function() {
  $('.show-password2').click(function() {
    var passwordInput = $(this).prev('input');
    var icon = $(this).find('i');
    if (passwordInput.attr('type') == 'password') {
      passwordInput.attr('type', 'text');
      icon.removeClass('fa-eye').addClass('fa-eye-slash');
    } else {
      passwordInput.attr('type', 'password');
      icon.removeClass('fa-eye-slash').addClass('fa-eye');
    }
  });
});

  $(document).ready(function() {
    $('form').submit(function(event) {
      var password = $('#password').val();
      var confirmPassword = $('#conpassword').val();
      
      if (password !== confirmPassword) {
        event.preventDefault(); // prevent the form from submitting
        $('.error-message').text('Passwords do not match').show();
      }
    });
  });



</script>
    
</body>
</html>
