{% extends 'base2.html' %}

{% block content %}
    <div class="forgotpass" >
        <form class="back" action="{{ url_for('login') }}"> 
            <button class="backbtn" type="submit">&larr;</button>
        </form>
        <h1>Reset your Password</h1>
        <form action="/send_otp" method="POST">
            <input class="input" type="email" id="email" placeholder="Email" name="email" required>
            <br><br>
    
            <button type="submit" class="button">Send OTP</button>
        </form>
    </div>
    {% if invalid_email %}
    <script>alert('Email address not found!');</script>
    {% endif %}
{% endblock %}
 