{% extends 'base.html' %}
{% block content %}
<div class="parking-info">
    <br>
    <br>
    <br>
    <br>
    <h1>Available Spaces: <span id="count">{{ count }}</span></h1>
</div>
<script>
    function updateCount() {
        fetch('/count')
        .then(response => response.text())
        .then(count => {
            document.getElementById('count').textContent = count;
        })
        .catch(error => {
            console.log(error);
        });
    }

    setInterval(updateCount, 5000);
</script>
{% endblock %}
