{% extends 'base2.html' %}

{% block content %}
<div class="reset">
    <form action="{{ url_for('login') }}">
        <button class="backbtn" >&larr;</button>
    </form>
    <h1>Reset Password</h1>
    <form name="resetPasswordForm" onsubmit="return validateForm()" action="/reset_password" method="post">

        <input class="input" type="email" id="email" placeholder="Email" name="email" oninput="hideEmailPromptMessage()" required><br><br>

        <input class="input" type="password" id="newPassword" placeholder="New Password" name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.*\s).{8,}" oninput="hidePasswordMatchError()" required><br><br>
      
        <input class="input" type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" oninput="hidePasswordMatchError()" required><br>
        <div class="password-note" style="font-size: 10px;">Note: Password must contain at least one number, one uppercase letter, one lowercase letter, one special character, and be at least 8 characters long.</div>
        <p id="passwordMatchError" style="color: red; display: none;">Passwords do not match.</p>
    
        <span>
            <input type="checkbox" id="showpassword" name="showpassword" onchange="togglePassword3()">Show Password
        </span>
        <br><br>
        
        {% if prompt_message %}
        <p id="emailPromptMessage" style="color: red;">{{ prompt_message }}</p>
        {% endif %}
    
      
        <button type="submit" class="button">Reset Password</button>
    </form>
</div>

<script>
    const emailInput = document.getElementById("email");
    const emailPromptMessage = document.getElementById("emailPromptMessage");
    const newPasswordInput = document.getElementById("newPassword");
    const confirmPasswordInput = document.getElementById("confirmPassword");
    const passwordMatchError = document.getElementById("passwordMatchError");

    emailInput.addEventListener("input", hideEmailPromptMessage);
    newPasswordInput.addEventListener("input", hidePasswordMatchError);
    confirmPasswordInput.addEventListener("input", hidePasswordMatchError);

    function hideEmailPromptMessage() {
        emailPromptMessage.style.display = "none";
    }

    function hidePasswordMatchError() {
        passwordMatchError.style.display = "none";
    }

    function checkPasswordMatch() {
        const newPassword = newPasswordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        if (newPassword !== confirmPassword) {
            passwordMatchError.style.display = "block";
        } else {
            passwordMatchError.style.display = "none";
        }
    }

    function validateForm() {
        const newPassword = newPasswordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        if (newPassword !== confirmPassword) {
            passwordMatchError.style.display = "block";
            return false;
        }

        return true;
    }
</script>

{% endblock %}
